.title{
    border-color: white;
    border-width: 1px;
    height: 10vh;
}
.titleContent{
    height: 10vh;
    overflow-y: scroll;    
}
.centerBody{
    height: 75vh;
}
.menuList{
    padding: 0;
}
.content{
    height: 75vh;
    overflow-y: scroll;    
    margin-top: 0px;
    margin-bottom: 0px; 
}
.footer {
    position: fixed;
    height: 15vh;
    left: 0;
    bottom: 0;
    width: 100%;
 }
.menuItem{
    padding-top: 5px;
    list-style-type: none;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}