<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Darkest Kittens</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="row">
        <div class="col-3 border border-white">
            <h2>{{title}}</h2>
        </div>
        <div class="col-7 row border-bottom border-top border-white titleContent">
            <app-resources></app-resources>
        </div>
        <div class="col-2 border border-white">
            <app-science-time></app-science-time>
        </div>
    </div>
    <div class="row centerBody">
        <div class="col-3 border-left border-right border-white">
            <ul class="menuList">
                <li class="menuItem"><button class="btn btn-primary btn-lg btn-block"
                        [routerLink]="['buildings']"><b>Buildings</b></button></li>
                <li class="menuItem"><button class="btn btn-primary btn-lg btn-block"
                        [routerLink]="['science']"><b>Science</b></button></li>
                <li class="menuItem"><button class="btn btn-primary btn-lg btn-block"
                        [routerLink]="['kittens']"><b>Kittens</b></button></li>
                <li class="menuItem"><button class="btn btn-primary btn-lg btn-block"
                        [routerLink]="['quests']"><b>Quests</b></button></li>
                <li class="menuItem"><button class="btn btn-primary btn-lg btn-block"
                        [routerLink]="['workshop']"><b>Workshop</b></button></li>
            </ul>
        </div>
        <div class="col-9 content">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-3 border border-white">
            <app-user-profile></app-user-profile>
        </div>
        <div class="col-7 border-bottom border-top border-white">
        </div>
        <div class="col-2 border border-white">
        </div>
    </div>
</body>

</html>